[submodule "ReactiveObjC"]
	path = ReactiveObjC
	url = https://github.com/ReactiveCocoa/ReactiveObjC.git
[submodule "objectiveflickr"]
	path = objectiveflickr
	url = git://github.com/lukhnos/objectiveflickr.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "GPUImage"]
	path = GPUImage
	url = https://github.com/BradLarson/GPUImage.git
[submodule "BlocksKit"]
	path = BlocksKit
	url = https://github.com/BlocksKit/BlocksKit.git
[submodule "realm-cocoa"]
	path = realm-cocoa
	url = https://github.com/realm/realm-cocoa.git
